body {
    font-family: Lora, serif;
    background-color: #f6f6f6;
}

p {
    text-align: justify;
    font-size: 110%;
}

ul {
    text-align: justify;
    font-size: 110%;
}

.jumbotron {
    background-color: #edeef7;
    height: 250px;
}

.rounded-circle {
    height: auto;
    width: 50%;
}

.home-pic {
    height: auto;
    width: 65%;
}

.example-img {
    width: 49%;
}

.js-example {
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    align-items: center;
    outline-color: black;
    outline-style: groove;
}

.footer {
    height: 60px;
}

.footer-content {
    text-align: center;
    font-size: medium;
    color: white;
    padding-top: 16px;
}